#modulebiddinghelp  {
    height: 360px;
    width: 360px;
}

#modulemanagementhelp {
    height: 360px;
    width: 360px;
}

#tutorialregistrationhelp {
    height: 360px;
    width: 360px;
}

#tutorialrankinghelp {
    height: 360px;
    width: 360px;
}