.content-container-namemat {
    font-family: Georgia;
    font-size: 20px;
    padding-left: 1%;
}

.content-container-welcome {
    font-family: Georgia;
    font-weight: bolder;
    color: orange;
    font-size: 40px;
    padding-left: 1%;
}

.content-container-verify {
    font-family: Georgia;
    font-weight: bold;
    padding-top: 1.5%;
    padding-left: 10%;
    font-size: 30px;
}

.content-container-personaldata {
    font-family: Georgia;
    padding-left: 10%;
    padding-top: 0.75%;
    line-height: 1.5;
    font-size: 25px;
}

.content-container-help {
    font-family: Georgia;
    padding-top: 150px;
}

.content-container-info {
    font-family: Georgia;
}

@media (max-width: 500px) {

    .content-container-namemat {
        font-size: 15px;
    }


    .content-container-welcome {
        font-size: 25px;
    }

    .content-container-verify {
        padding-top: 5%;
        padding-left: 5%;
        font-size: 15.5px;
    }

    .content-container-personaldata {
        padding-top: 2.5%;
        padding-left: 10%;
        font-size: 14.5px;
    }

    .content-container-help {
        padding-top: 15%;
        font-size: 10.5px;
    }

    .content-container-info {
        font-size: 10.5px;
    }
}
