div.tutorial-rank-container{
    position: relative;
    width: 150px;
    height: 352px;
    border: 1px solid;
}

div.rank-item{
    position: absolute;
    width: 148px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    clear: both;
}
