div.tutorial-rank-container{
    position: relative;
    width: 150px;
    height: 350px;
}

div.rank-item{
    position: absolute;
    width: 148px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    clear: both;
}

h3.module_header{
    margin-left: 5%;
    padding-bottom: 10px;
    text-align: left;
}

table.ranking_dragdrop, table.available_slots, tr, td, th{
    margin-left: 5%;
    border: 1px solid black;
}

th.class_code_col{
    width: 30%;
    text-align: left;
}

th.location_col{
    width: 65%;
    text-align: left;
}

th.checkbox_col{
    width: 15%;
    text-align: left;
}

tr.dragdrop_table_row{
    height: 49px;
}

.table_content{
    text-align: left;
}

#dragdrop-container{
    position: relative;
}

#tutorial-dragdrop-container{
    position: absolute;
    top: 0;
}

#submit {
    margin-top: 20px;
    margin-left: 5%;
}
